# Dependencies
node_modules/
/.pnp
.pnp.js

# Production
/.next/
/out/

# Env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
*.json.key
*-credentials.json
mejoraproyecto-*.json
*.docx
npm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts

.vercel
.env*.local

.vercel
.env*.local
